<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow m-5">
          <div class="card-body text-center p-5">
            <i class="bi bi-envelope-paper fs-1 text-success mb-4"></i>
            <h2 class="mb-4">Contactez-nous</h2>
            <p class="lead mb-4">
              Prêt à commencer votre projet de rénovation énergétique ? Contactez-nous dés aujourd'hui !
            </p>
            <div class="d-grid gap-3">
              <a href="tel:+33650495756" class="btn btn-success btn-lg">
                <i class="bi bi-telephone me-2"></i>Appelez-nous : 06 50 49 57 56
              </a>
              <a href="mailto:adelkadi174&#64;gmail.com" class="btn btn-outline-success btn-lg">
                <i class="bi bi-envelope me-2"></i> adelkadi174&#64;gmail.com
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>