<footer class="footer bg-body-tertiary border-top py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <p class="mb-0 d-flex align-items-center">
            <img src="../../../assets/logo/logo.png" alt="ECO PLUS Logo" height="35" class="me-2">
            <span class="company-name">ECO<span class="plus-text">PLUS</span></span>
            <span class="ms-2">- 2024 Experts en Rénovation Énergétique</span>
          </p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <a href="#" class="text-body me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-body me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-body"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
</footer>